
.page-container {
  display: flex;
  gap: 40px;
  padding: 20px;
  max-width: 1300px;
  margin: auto;
}


.filter-container {
  width: 280px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

.filter-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.filter-box {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-label {
  font-size: 14px;
  color: #444;
  font-weight: 500;
}

.filter-select {
  padding: 10px;
  padding-top: 15px;
  border: none ;
  border-top: solid 0.5px;
  border-color: #E5E5E5;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  font-family: Simplon Norm;
}
.filter-select-ideal {
  padding: 10px;
  padding-top: 15px;
  border: none ;
  border-top: solid 0.5px;
  border-color: #E5E5E5;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  font-family: Simplon Norm;
}


.filter-range {
  width: 100%;
  accent-color: #000;
}

.apply-btn {
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.apply-btn:hover {
  background: #333;
}


.content-area {
  flex: 1;
}

.section-title {
  margin: 20px 0 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}


@media (max-width: 1000px) {
  .page-container {
    flex-direction: column;
  }

  .filter-container {
    width: 100%;
    position: relative;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
